td input{
	height: 65px;
	width: 65px;
	font-size: 50px;
}
#out{
	height: 40px;
	width: 268px;
	margin-left: 3px;
	font-size: 30px;
}
.c{
	padding: 5px;
	padding-top:9px; 
	margin: 0;
	position: absolute;
	left: 40%;
	top: 25%;
	border: 5px solid black;
	background: blue;
}
body{
	background: red;
}